/****** ELEMENTI GENERICI *****/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.col10 { width: 10%; }
.col20 { width: 20%; }
.col25 { width: 25%; }
.col30 { width: 30%; }
.col40 { width: 40%; }
.col50 { width: 50%; }
.col60 { width: 60%; }
.col70 { width: 70%; }
.col80 { width: 80%; }
.col90 { width: 90%; }
.col100 { width: 100%; }

.textLeft { text-align: left; }
.textCenter { text-align: center; }
.textRight { text-align: right; }



.bgGreen { background-color: greenyellow; }
.bgDark { background-color: #23272a; }
.bgDarkgray { background-color: #121314ad; }


/**** ELEMENTI HEADER *****/

header , footer {
    width: 100%;
    height: 5rem;
}

/**** ELEMENTI MAIN ****/ 

main {
    width: 100%;
    height: calc(100% - 10rem)
}

.boxed{
    max-width: 109.375rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.containerImg {
    width: calc(100% / 7 - .5rem);
    height: calc(100% / 5 - .5rem); 
    position: relative;
}

.containerImg > img {
    width: 100%;
    height: 100%;
    display: block;
}

.containerImg > .nameUser {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    font-size: 1rem;
    height: 1.25rem;
}

/**** ELEMENTI FOOTER ***/

