/****** ELEMENTI GENERICI *****/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.col10 { width: 10%; }
.col20 { width: 20%; }
.col25 { width: 25%; }
.col30 { width: 30%; }
.col40 { width: 40%; }
.col50 { width: 50%; }
.col60 { width: 60%; }
.col70 { width: 70%; }
.col80 { width: 80%; }
.col90 { width: 90%; }
.col100 { width: 100%; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }


.bg-white { background-color: white; }
.bg-green { background-color: greenyellow; }
.bg-dark { background-color: #23272a; }
.bg-darkgray { background-color: #121314ad; }


/**** ELEMENTI HEADER *****/

header , footer {
    width: 100%;
    height: 5rem;
}





/**** ELEMENTI MAIN ****/ 

main {
    width: 100%;
    height: calc(100% - 10rem);
}

.boxed{
    max-width: 109.375rem;
    margin: 0 auto;
    min-height: 46.875rem;
    display: flex;
    flex-wrap: wrap;
}

.containerImg {
    width: calc((100% - (8px * 4)) / 5); 
    height: calc((100% - (15px * 5)) / 7); 
    margin-right: 8px;
    margin-bottom: 15px;
}

.containerImg > img {
    position: relative;
    width: 100%;
    height: 100%;
}

.containerImg > .nameUser {
    position: absolute;
}

/**** ELEMENTI FOOTER ***/

footer { 
    position: fixed;
    bottom: 0;
}